.home-page {
    position: relative;
}

.galaxy-img {
    position: absolute;
    width: 665px;
    height: 665px;
    top: -80px;
    right: 20px;
    opacity: 1;
    z-index: -1;
}

.star-img {
    position: absolute;
    width: 92%;
    height: 963px;
    top: 30px;
    left: 51px;
    opacity: 1;
    z-index: -2;
}

.home-page-body {
    padding: 40px 80px 40px 80px;
}